table, th, td, h1, a {
    border: 1px solid black;
  }
  table {
    border-collapse: collapse;
    width: 100%;
    font-family: cursive;
    text-align: center;
    vertical-align: middle;

  }
  
  tr:nth-child(even) {
    background-color: #eee;
  }
  tr:nth-child(odd) {
    background-color: #fff;
  }
  
  body {
    background-color: #e8f4f8;
    margin: 40px 20px 10px;
  }
  h1{
    font-family: cursive;
    text-align: center;
    vertical-align: middle;
    border: none;

  }
  a{
    font-family: cursive;
    border: none;

  }